﻿<!-- ko with: dashboard -->

<div class="col-md-offset-1">
    <h1 class="text-info">Jobs ran in the last two weeks</h1></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <h1 class="text-info" data-bind="text: totalJobs "></h1>
                        <span class="text-muted">Total jobs</span>
                    </div>
                    <div class="col-xs-6 col-sm-3">

                        <h1 class="text-danger" data-bind="text: jobsWithErrors "></h1>
                        <span class="text-muted">Erronous jobs</span>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <h1 class="text-danger" data-bind="text: totalErrors "></h1>
                        <span class="text-muted">Logged errors</span>
                    </div>
                    <div class="col-xs-6 col-sm-3">

                        <h1 class="text-success" data-bind="text: runningJobs "></h1>
                        <span class="text-muted">Running jobs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ko with: latestJobs -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1"
             data-bind="template: 'table-list-template-formatted'">
        </div>
    </div>
<!-- /ko --> <!-- / latestJobs -->

<!-- /ko -->