﻿
<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showInspectDialog">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="with: itemInInspection">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" data-bind="text: subscriptionCategory"></h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Instance
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>Tenant</b>
                                    </p>
                                    <span data-bind="text: tenant"></span>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>Job Id</b>
                                    </p>
                                    <span data-bind="text: jobId"></span>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>SubscriptionCategory</b>
                                    </p>
                                    <span data-bind="text: subscriptionCategory"></span>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>Direction</b>
                                    </p>
                                    <span data-bind="text: direction"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>PublishedAt</b>
                                    </p>
                                    <span data-bind="text: publishedAt"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>Type name</b>
                                    </p>
                                    <span data-bind="text: typeName"></span>
                                </div>

                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Payload
                                </div>
                                <div class="col-md-10" data-bind="recursiveList: payload"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: close">Close</button>
            </div>
        </div>
    </div>
</div>