﻿
<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showInspectDialog">
    <div class="modal-dialog" >
        <div class="modal-content" data-bind="with: itemInInspection">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" data-bind="text: instanceName"></h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Instance
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><b>TenantId</b>
                                    </p>
                                    <span data-bind="text: tenantId"></span>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Correlation Id</b>
                                    </p>
                                    <span data-bind="text: correlationId"></span>
                                </div>
                               

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>Instance name</b>
                                    </p>
                                    <span data-bind="text: instanceName"></span>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>Result</b>
                                    </p>
                                    <span data-bind="text: result"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><b>Start time</b>
                                    </p>
                                    <span data-bind="text: startTime"></span>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Duration</b>
                                    </p>
                                    <span data-bind="text: duration"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <table class="table-striped" summary="Job result payload">
                                        <caption>Job result payload</caption>
                                        <tbody data-bind="foreach: headers">
                                            <tr>
                                                <th class="col-md-2" data-bind="text: $data"></th>
                                                <td class="col-md-offset-3" data-bind="text: $parent.payload[$data]"></td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: close">Close</button>
            </div>
        </div>
    </div>
</div>