﻿<!-- ko with: searchInstances -->

<div class="row">
    <div class="col-md-12">
        <h3>Search criteria</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group required">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="control-label">
                                                    Search by instance start time in between:&nbsp;
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="input-group date" data-bind="datepicker: startTime">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="input-group date" data-bind="datepicker: endTime">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="col-md-6">
                                                    <div class="form-group required">
                                                        <div class="co-md-6">
                                                            <select data-bind="options: app.constants.jobResultStatuses, optionsText: function(item) { return item.label }, value: selectedJobResult"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 ">
                                                <button type="button" class="btn btn-primary btn-sm"
                                                        data-bind="click: search">
                                                    Search
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>

        <!-- ko with: searchResults -->
        <div class="row">
            <div class="col-md-12"
                 data-bind="template: 'table-list-template-formatted'">

            </div>
        </div>
        <!-- /ko --> <!-- / searchResults-->
    </div>

</div>
@Html.Partial("_InspectInstance")
<!-- /ko -->
