﻿<!-- ko with: searchLogs -->

<div class="row">
    <div class="col-md-12">
        <h3>Search criteria</h3>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="form-group required">
                    <div class="row">

                        <!-- ko ifnot: severitySelected() || moduleSelected() -->
                        <div class="col-md-3">
                            <label for="searchTerm" class="control-label">
                                Search by matching term in selected field:&nbsp;
                            </label>
                        </div>
                        <div class="col-md-3" data-bind="visible: searchTermEnabled()">
                            <input type="text" data-bind="value: searchTerm, valueUpdate: 'keyup'" id="searchTerm"/>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: severitySelected() -->
                        <div class="col-md-6">
                            <div class="form-group required">

                                <div class="col-md-6">
                                    <label>LogSeverity</label>
                                </div>
                                <div class="co-md-6">
                                    <select data-bind="options: app.constants.logSeverities, optionsText: function(item) { return item.label }, value: selectedSeverity"></select>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: moduleSelected() -->
                        <div class="col-md-6">
                            <div class="form-group required">

                                <div class="col-md-6">
                                    <label>Module</label>
                                </div>
                                <div class="co-md-6">
                                    <select data-bind="options: app.constants.modules, optionsText: function(item) { return item.label }, value: selectedModule"></select>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="row" data-bind="visible: showTime()">

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group date" data-bind="datetimepicker: startTime">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group date" data-bind="datetimepicker: endTime">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="searchMethod" class="col-md-2">
                                    Search method:&nbsp;
                                </label>
                                <div class="col-md-7" id="searchMethod">
                                    <!-- ko foreach: searchMethods -->
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="searchMethod" data-bind="checkedValue: $data, checked: $parent.searchMethod"/>
                                            {{ $data.label }}
                                        </label>
                                    </div>
                                    <!-- /ko -->

                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" data-bind="checked: paged"/>Paged
                                        </label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info"
                                                data-bind="click: performSearch">
                                            Search
                                        </button>
                                    </span>
                                        
                                </div>
                                
                            </div>
                        </div>

                    </div>
                 
                </div>


                
            </div>
        </div>

        <!-- ko if: paged -->
        <!-- ko with: pagedSearchResults -->
        <div class="row">
            <div class="col-md-12"
                 data-bind="template: 'paged-table-list-template'">

            </div>
        </div>
        <!-- /ko --> <!-- / pagedSearchResults-->
        <!-- /ko -->

        <!-- ko ifnot: paged -->
        <!-- ko with: searchResults -->
        <div class="row">
            <div class="col-md-12"
                 data-bind="template: 'table-list-template'">

            </div>
        </div>
        <!-- /ko --> <!-- / searchResults-->
        <!-- /ko -->
        
    </div>

</div>
<!-- /ko -->
