﻿<!-- ko with: searchEvents -->

<div class="row">
    <div class="col-md-12">
        <h3>Search criteria</h3>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="form-group required">
                    <div class="row">

                        <!-- ko ifnot: directionSelected() -->
                        <div class="col-md-3">
                            <label for="searchTerm" class="control-label">
                                Search by matching term in selected field:&nbsp;
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" data-bind="value: searchTerm, valueUpdate: 'keyup'" id="searchTerm" />
                        </div>
                        <!-- /ko -->
                        <!-- ko if: directionSelected() -->
                        <div class="col-md-6">
                            <div class="form-group required">

                                <div class="col-md-6">
                                    <label>Direction</label>
                                </div>
                                <div class="co-md-6">
                                    <select data-bind="options: app.constants.eventStream, optionsText: function(item) { return item.label }, value: selectedDirection"></select>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="row" data-bind="visible: showTime()">

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group date" data-bind="datetimepicker: startTime">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group date" data-bind="datetimepicker: endTime">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="searchMethod" class="col-md-2">
                                    Search method:&nbsp;
                                </label>
                                <div class="col-md-8" id="searchMethod">
                                    <!-- ko foreach: searchMethods -->
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="searchMethod" data-bind="checkedValue: $data, checked: $parent.searchMethod" />
                                            {{ $data.label }}
                                        </label>
                                    </div>
                                    <!-- /ko -->

                                </div>
                                <div class="col-md-2 ">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            data-bind="click: search">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        <!-- ko with: searchResults -->
        <div class="row">
            <div class="col-md-12"
                 data-bind="template: 'table-list-template-formatted'">

            </div>
        </div>
        <!-- /ko --> <!-- / searchResults-->
    </div>
    @Html.Partial("_InspectEvent")

</div>
<!-- /ko -->
