﻿@model Soikea.IntegrationEngine.Management.UI.Models.HangfireDashboardInitialization
@{
	ViewBag.Title = "Hangfire";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

	function resize_iframe() {
	    var height = $(window).height();
		//resize the iframe according to the size of the
	    //window (all these should be on the same line)
	    var newHeight = parseInt(height - document.getElementById("iframe").offsetTop - 8) + "px";
		document.getElementById("iframe").style.height = newHeight;
	    $(".body-content").css("height", newHeight);
	}

	// this will resize the iframe every
	// time you change the size of the window.
	window.onresize=resize_iframe;

</script>


<iframe src="@Model.HangfireUrl"
		id="iframe"
		style="width: 100%; height: 100%;"
		onload="resize_iframe()">            
</iframe>
