﻿@{
    ViewBag.Title = "Search log messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search log messages</h2>


<div id="toast-container"></div>

@Html.Partial("_SearchLogs")

@Html.Partial("_Templates")

@section Scripts{

    @{
        string path = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~/");


    }

    @Scripts.Render("~/bundles/lib")

    <script type="text/javascript">
    var routing = undefined;

    function Routing(apiRoot) {
        this.siteUrl = apiRoot || "/";

        this.combineUrl = function(actionUrl) {
            return this.siteUrl + actionUrl;
        };
    }

    routing = new Routing('@path'); @* global scope routing used in app.datamodel *@


    </script>

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app/logs")

}