﻿@{
    var isLocalRequest = Url.IsLocalUrl(HttpContext.Current.Request.RawUrl);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Integration Engine Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Dashboard", "Index", "Home", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("Instances", "Instances", "Home", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("Logs", "Logs", "Home", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("Events", "Events", "Home", new { area = "" }, null)</li>
                    @if (isLocalRequest)
                    {
                        <li>@Html.ActionLink("Hangfire", "Hangfire", "Home", new {area = ""}, null)</li>
                    }
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Soikea Integration Engine Management UI @@ Rapal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
