﻿
<script type="text/html" id="table-row-list-template">
    <!-- ko foreach: cols -->
    <!-- ko if: $index() == 0 -->
    <td>
        <!-- ko if: $parent.actions.length > 0 -->
        <a data-bind="click: function(){$parent.actions[0].action($parent.id);}, text: $data" class="pointer"></a>
        <!-- /ko -->
        <!-- ko ifnot: $parent.actions.length > 0 -->
        {{ $data }}
        <!-- /ko -->
    </td>
    <!-- /ko -->
    <!-- ko ifnot: $index() == 0 -->
    <td>{{ $data }}</td>
    <!-- /ko -->
    <!-- /ko --> <!-- / cols -->
    <!-- ko if: actions.length > 0 -->
    <td data-bind="foreach: actions">
        <button type="button" class="btn btn-xs btn-primary" data-bind="click: function(){action($parent.id);}">{{ label }}</button>
    </td>
    <!-- /ko --> <!-- / actions -->
</script>


<script type="text/html" id="table-buildingproperty-row-list-buttons-template">
    <tr>
        <td data-bind="text: id "></td>
        <td data-bind="text: key"></td>
        <td data-bind="text: value"></td>
        <td data-bind="text: valueType"></td>

        <td><button type="button" class="btn btn-xs btn-primary" data-bind="click: toggleEditMode"><span class="glyphicon glyphicon-pencil"></span></button></td>
    </tr>
</script>


<script type="text/html" id="table-buildingproperty-row-list-buttons-editing-template">
    <tr>
        <td><input data-bind="textInput: id, placeholder: id, valueUpdate: 'afterkeydown'" /></td>
        <td><input data-bind="textInput: key, placeholder: key, valueUpdate: 'afterkeydown'" /></td>
        <td><input data-bind="textInput: value, placeholder: value, valueUpdate: 'afterkeydown'" /></td>
        <td><select data-bind="options: valueTypes, optionsText: function(item) { return item.value }, value: selectedValueType"></select></td>

        <td>
            <button type="button" class="btn btn-xs btn-primary" data-bind="click: saveChanges"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="btn btn-xs btn-primary" data-bind="click: toggleEditMode"><span class="glyphicon glyphicon-remove"></span></button>
        </td>

    </tr>
</script>


<script type="text/html" id="table-list-template">

    <div class="progress" data-bind="visible: loading()">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="">Loading</span>
        </div>
    </div>

    <h3>{{ title }}</h3>
    <table class="table table-striped">
        <thead>
            <!-- ko if: searchType === listItemSearchType.perColumn -->
            <tr data-bind="foreach: cols">
                <th data-bind="click: $parent.sortByColumn" class="pointer">{{ label }} <span class="badge" data-bind="visible: $parent.orderedByColumn() === $data"><span class="glyphicon" data-bind="css: { 'glyphicon-chevron-up' : $parent.orderedByAscending(), 'glyphicon-chevron-down' : !$parent.orderedByAscending() }"></span></span></th>
            </tr>
            <tr data-bind="foreach: searchFromCols.cols">
                <th><input type="text" data-bind="value: term, valueUpdate: 'keyup'" /></th>
            </tr>
            <!-- /ko --> <!-- / searchType === listItemSearchType.perColumn -->
            <!-- ko ifnot: searchType === listItemSearchType.perColumn -->
            <tr data-bind="foreach: cols">
                <th data-bind="click: $parent.sortByColumn" class="pointer">{{ label }} <span class="badge" data-bind="visible: $parent.orderedByColumn() === $data"><span class="glyphicon" data-bind="css: { 'glyphicon-chevron-up' : $parent.orderedByAscending(), 'glyphicon-chevron-down' : !$parent.orderedByAscending() }"></span></span></th>
            </tr>
            <!-- /ko --> <!-- / ifnot per column -->


        </thead>
        <tbody data-bind="foreach: pagedItems">
            <tr data-bind="component: { name: 'table-row-item-formatted', params: { id: $data.CorrelationId, cols: $parent.cols(), data: $data, actions: $parent.actions } } "></tr>
        </tbody>
    </table>

    <!-- ko if: any() && pageCount() > 1 -->
    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li data-bind="click: function() { currentPageIndex(currentPageIndex()-1) }, css: { disabled: currentPageIndex() == 0}">
                <a href="#">&laquo;</a>
            </li>

            <!-- ko foreach: ko.utils.range(1, pageCount()) -->
            <li class="" data-bind="click: function() { $parent.currentPageIndex($data-1) }, css: { active: $parent.currentPageIndex() == $data-1}">
                <a href="#" data-bind="text: $data"></a>
            </li>
            <!-- /ko -->

            <li data-bind="click: function() { currentPageIndex(currentPageIndex()+1) }, css: { disabled: currentPageIndex() == pageCount()-1}">
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <!-- /ko -->


</script>


<script type="text/html" id="table-list-template-formatted">

    <div class="progress" data-bind="visible: loading()">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="">Loading</span>
        </div>
    </div>

    <h3>{{ title }}</h3>
    <table class="table table-striped">
        <thead>
            <tr data-bind="foreach: cols">
                <th data-bind="click: $parent.sortByColumn" class="pointer">{{ label }} <span class="badge" data-bind="visible: $parent.orderedByColumn() === $data"><span class="glyphicon" data-bind="css: { 'glyphicon-chevron-up' : $parent.orderedByAscending(), 'glyphicon-chevron-down' : !$parent.orderedByAscending() }"></span></span></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pagedItems">
            <tr data-bind="component: { name: 'table-row-item-formatted', params: { id: $data.id, cols: $parent.cols(), data: $data, actions: $parent.actions } } "></tr>
        </tbody>
    </table>

    <!-- ko if: any() && pageCount() > 1 -->
    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li data-bind="click: function() { currentPageIndex(currentPageIndex()-1) }, css: { disabled: currentPageIndex() == 0}">
                <a href="#">&laquo;</a>
            </li>

            <!-- ko foreach: ko.utils.range(1, pageCount()) -->
            <li class="" data-bind="click: function() { $parent.currentPageIndex($data-1) }, css: { active: $parent.currentPageIndex() == $data-1}">
                <a href="#" data-bind="text: $data"></a>
            </li>
            <!-- /ko -->

            <li data-bind="click: function() { currentPageIndex(currentPageIndex()+1) }, css: { disabled: currentPageIndex() == pageCount()-1}">
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <!-- /ko -->


</script>

<script type="text/html" id="paged-table-list-template">

    <div class="progress" data-bind="visible: loading()">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="">Loading</span>
        </div>
    </div>

    <h3>{{ title }}</h3>
    <table class="table table-striped">
        <thead>
            <tr data-bind="foreach: cols">
                <th class="pointer">{{ label }} <span class="badge" ></span></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr data-bind="component: { name: 'table-row-item-formatted', params: { id: $data.CorrelationId, cols: $parent.cols(), data: $data, actions: $parent.actions } } "></tr>
        </tbody>
    </table> 

    <!-- ko if: any() && pageCount() > 1 -->
    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li data-bind="click: function() { if (currentPageIndex() > 0) {currentPageIndex(currentPageIndex() - 1)} }, disable: currentPageIndex() == 0, css: { disabled: currentPageIndex() == 0  }">
                <a href="#">&laquo;</a>
            </li>

            <!-- ko foreach: ko.utils.range(1, pageCount()) -->
            <li class="" data-bind="click: function() { $parent.currentPageIndex($data-1) }, css: { active: $parent.currentPageIndex() == $data -1}">
                <a href="#" data-bind="text: $data"></a>
            </li>
            <!-- /ko -->

            <li data-bind="click: function() { if (currentPageIndex() < pageCount()-1) {currentPageIndex(currentPageIndex() + 1)} }, disable: currentPageIndex() == pageCount()-1, css: { disabled: currentPageIndex() == pageCount() - 1} ">
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <!-- /ko -->


</script>
